#country {height: 600px; width: 1000px; display: flex; align-items: center; justify-content: center; background-image: url("US_Map.png"); background-size: 1000px 600px;}

#city {height: 600px; width: 1000px; display: flex; align-items: center; justify-content: center;}